export PORT=9001
export DB_CONN_STR=mongodb://localhost/bestnest-api
export URL_ROOT=http://localhost:$PORT/
export NEW_RELIC_LICENSE_KEY=??
export NEW_RELIC_APP_NAME=bestnest-api-dev
export NEW_RELIC_NO_CONFIG_FILE=true